footer {
    display: flex;
    position: absolute;
    bottom: -60px;
    left: 0;
    align-items: flex-end;
    width: 100%;
    color: $grey;
    font-size: 13px;

    &.home {
        justify-content: flex-end;
    }

    &.single {
        justify-content: space-between;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            &:first-child {
                text-transform: uppercase;
            }
        }
    }
}
