.header {
    @include display-flex(flex-start, space-between);
    height: 140px;
    border-radius: 5px 5px 0 0;
    background: $greenDark;

    h1 {
        margin: 0;
    }

    h2 {
        margin: 0;
        color: $white;
        font-size: 14px;
        text-transform: uppercase;
    }

    &-language {
        display: flex;
        position: absolute;
        top: -35px;
        right: 0;
        margin: 0;
        padding: 0;


        li {
            margin: 0 2.5px;
            list-style: none;
        }
    }

    &-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 240px;
        height: 100%;
    }

    &-right {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;

        &_search {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;

            .search-container {
                display: flex;
                height: 30px;
                margin: 15px 10px 0 0;
                box-sizing: border-box;
            }

            .search-input {
                padding: 0 10px;
                border: none;
                border-radius: 3px;
            }

            .search-button {
                width: 30px;
                height: 30px;
                margin-left: 5px;
                border: none;
                border-radius: 3px;
            }
        }
    }

    .nav {
        @include display-flex(center, flex-start);
        height: 35px;
        background-color: $green;

        ul {
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;

            li {
                @include display-flex;
                flex-grow: 1;
                height: 100%;
                transition: ease 0.2s;
                list-style: none;
                text-transform: uppercase;

                a {
                    @include display-flex;
                    width: 100%;
                    height: 85%;
                    border-right: 1px solid $white;
                    color: $white;
                    font-size: 12.5px;
                    letter-spacing: 1px;
                    text-decoration: none;
                }

                &:hover {
                    background-color: $greenDarker;
                }

                &:last-child {
                    a {
                        border: none;
                    }
                }
            }
        }
    }
}

.lang-item-pt {
    a {
        display: block;
        position: relative;
        width: 23px;
        height: 19px;
        background: url('images/ico-brasil.png')no-repeat right;
        background-size: contain;
        text-indent: -9999px;
    }
}

.lang-item-en {
    a {
        display: block;
        position: relative;
        width: 23px;
        height: 19px;
        background: url('images/ico-us.png')no-repeat right;
        background-size: contain;
        text-indent: -9999px;
    }
}
