// DISPLAY ======================================

@mixin display-flex($align: center, $justify: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin blueGradient {
    background: $white; /* Old browsers */
    background: -moz-linear-gradient(top, $white 0%, $white 50%, $blueLight2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $white 0%, $white 50%, $blueLight2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $white 0%, $white 50%, $blueLight2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c8e8ea',GradientType=0 ); /* IE6-9 */
}

@mixin shadow {
    box-shadow: inset -10px -15px 20px -20px rgba(112, 112, 112, 1);
    -webkit-box-shadow: inset -10px -15px 20px -20px rgba(112, 112, 112, 1);
    -moz-box-shadow: inset -10px -15px 20px -20px rgba(112, 112, 112, 1);
}
