.sidebar {
    width: 240px;
    padding-right: 40px;
    box-sizing: border-box;

    ul {
        margin: 0;
        padding: 0;
        color: $white;
        list-style: none;

        li {
            padding: 8px 20px;
            border-bottom: 1px solid $white;
            background: $blueLight;
            color: $blue;
            font-size: 12px;
            cursor: pointer;

            a {
                color: $blue;
                text-decoration: none;
            }

            &:first-child {
                background: $blue;
                color: $white;
                font-size: 16px;
                text-transform: uppercase;
            }
        }

        .comissao-selector-active {
            background: $greyLight;
        }
    }
}
