// COLORS =======================================

$greenDarker: #025c64;
$greenDark: #007781;
$green: #0a96a2;
$greenLight: #93b137;

$blueLighter: #e8f3f6;
$blueLight: #dee8eb;
$blueLight2: #c8e8ea;
$blue: #76a6bb;
$blueDark: #00717c;

$greyLight: #e8e8e8;
$greyBorder: #cfcdcd;
$greyMediumLight: #737070;
$grey: #4f4e4e;

$white: #fff;
$black: #000;
$blackOpacity: rgba(0,0,0,0.6);
