.venn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 75%;

    h2 {
        margin: 0;
    }
}

.venn-content {
    position: relative;
    width: 95%;
    height: 650px;
    margin: 35px 0;
    background: $blueLighter;
    color: $white;
    font-size: 20px;
    font-weight: 800;

    img {
        width: 85%;
        height: 90%;
        margin: 35px 60px;
        object-fit: contain;
    }

    .area-externa {
        position: absolute;
        top: 3%;
        right: 5%;
        color: $blue;
        font-size: 28px;
        font-weight: 800;
    }

    .sistema {
        position: absolute;
        top: 26%;
        left: 30%;
        width: 90px;
        color: $green;
        font-size: 17px;
        font-weight: 800;
    }

    .area_esquerda {
        display: flex;
        position: absolute;
        top: 45%;
        left: 30%;
        flex-direction: column;
        width: 75px;
        text-align: center;

        span {
            font-size: 12px;
            font-style: italic;
            font-weight: 100;
            opacity: 0.5;
        }
    }

    .area_superior {
        display: flex;
        position: absolute;
        top: 28%;
        left: 50%;
        flex-direction: column;
        width: 145px;
        text-align: center;

        span {
            font-size: 12px;
            font-style: italic;
            font-weight: 100;
            opacity: 0.5;
        }
    }

    .area_central {
        position: absolute;
        top: 47.5%;
        left: 54%;
    }

    .area_inferior {
        display: flex;
        position: absolute;
        top: 60%;
        left: 52.5%;
        flex-direction: column;
        width: 105px;
        text-align: center;

        span {
            font-size: 12px;
            font-style: italic;
            font-weight: 100;
            opacity: 0.5;
        }
    }
}
